<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conference Planner</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Navbar -->
    <nav {{#if alternate_design}} class="navbar is-link" {{else}} class="navbar is-dark" {{/if}} role="navigation"
        aria-label="main navigation">
        <div class="navbar-brand">
            <div class="block">
                <a href="/" class="has-text-white">
                    <span class="icon is-large">
                        <i class="fa fa-home fa-2x"></i>
                    </span>
                    <span>Conference Planner</span>
                </a>
            </div>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="/speakers/">
                    Speakers
                </a>

                <a class="navbar-item" href="/sessions/">
                    Sessions
                </a>

                <a class="navbar-item" href="/schedule/">
                    Schedule
                </a>
            </div>
        </div>
    </nav>

    <!-- Body -->
    <section class="section">
        <div class="block">
            <h1 class="title">
                Schedule
            </h1>
        </div>
        <div class="container is-fluid">
            {{#each schedule}}
            <div class="card mt-3" id="{{id}}">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="subtitle is-6">{{start_time}} - {{end_time}}</p>
                            <p class="title is-4"> <a href="/sessions/#{{session_id}}">{{session_title}}</a>
                                {{#if session_tag}}<span class="tag">{{session_tag}}</span>{{/if}}
                            </p>
                            <p class="subtitle is-5">by {{speaker_name}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>


    <!-- Footer -->
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Conference Planner</strong> a demo application by <a href="https://github.com/joergm">Joerg
                    Mueller</a>.
                The source code is available on <a href="https://github.com/joergm/conference-planner">Github</a>
            </p>
        </div>
    </footer>
</body>

</html>